{% extends "adminbase.html" %} 
{% load staticfiles %}
{% block content %}
<section id="" class="space">
    <div class="container">
        <h4>Create Criteria Filter</h4>
        <hr />
        {{ save_citeria_message }}
        <div class="row" style="padding-top: 30px;">
            <form action='' method="post">
                  <div class="col-sm-8 p-top-40">
                      {{ form }} <br /><br />
                      {% csrf_token %}
                      <input type="submit" class="btn btn-primary btn-md" value="Save Search Criteria" />
               </div>
            </form>           
        </div>
    </div>
</section>
{% endblock %}