{% extends "base.html" %} 
{% load staticfiles %}
{% block content %}

<section id="" class="space">
    <div class="container">
        <a href="{%  url 'log_out' %}?next=/jobsearch">Log out</a>
        <hr />
        <div class="row" style="padding-top: 30px;">
            <div class="col-sm-4">
                Welcome {{ current_user }}
            </div>
            
            <div class="col-sm-8">
              
                {% for p in profile %}

                    <label>Profile Summary</label><br />
                    {{ p.summary }}<br /><br />

                    <label>Skills</label><br />
                    {{ p.skills }}<br /><br />

                    <label>Certifications</label><br />
                    {{ p.certifications }}<br /><br />
                {% endfor %}

                <hr noshade />

                {% for c in career %}
                    <label>Company</label><br />
                    {{ c.company }}<br /><br />

                    <label>Job description</label><br />
                    {{ c.description }}<br /><br />

                    <label>Start Year</label><br />
                    {{ c.start_date }}<br /><br />
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}